SECRET_KEY=votre_cle_secrete_django
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgresql://user:password@localhost:5432/maket_peyizan_db
DB_NAME=maket_peyizan_db
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
RESEND_API_KEY=
DEFAULT_FROM_EMAIL=Maket Peyizan <info@maketpeyizan.ht>
ADMINS_NOTIFY=admin@maketpeyizan.ht
SITE_URL=https://maketpeyizan.ht
MONCASH_CLIENT_ID=
MONCASH_SECRET_KEY=
MONCASH_ENVIRONMENT=sandbox
PLOPPLOP_CLIENT_ID=
FIREBASE_SERVICE_ACCOUNT_JSON={}
CORS_ALLOW_ALL=True
